# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt

# Node
node_modules/
dist/
dist-ssr/
*.local

# Env
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# DB
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log
npm-debug.log*

# xlsx
*.xlsx
